body {
  display: flex;
  flex-flow: column; 
  align-items: center;
}
.mainContainer {
  display: flex;
  flex-flow: column;
  width: 70vw;
  min-width: 1200px;
  max-width: 1600px;
}
.headerInfo {
  display: flex;
}
.body {
  display: flex;
}
.headerInfo {
  display: flex;
  flex-flow: row; 
  justify-content: center;
  align-items: center;
}
.businessLocation {
  display: flex;
  justify-content: center;
}